In [1]:
import pandas as pd

In [27]:
data = pd.read_excel("./test.xlsx", index_col=0)
data

         1     2     3     4     5      6      7      8      9
6     28.3    57    85   113   142    170    198    226    255
8     50.3   101   151   201   252    302    352    402    453
10    78.5   157   236   314   393    471    550    628    707
12   113.1   226   339   452   565    678    791    904   1017
14   153.9   308   461   615   769    923   1077   1231   1385
16   201.1   402   603   804  1005   1206   1407   1608   1809
18   254.5   509   763  1017  1272   1527   1781   2036   2290
20   314.2   628   942  1256  1570   1884   2199   2531   2827
22   380.1   760  1140  1520  1900   2281   2661   3041   3421
25   490.9   982  1473  1964  2454   2945   3436   3927   4418
28   615.8  1232  1847  2463  3079   3695   4310   4926   5542
32   804.2  1609  2413  3217  4021   4826   5630   6434   7238
36  1017.9  2036  3054  4072  5089   6107   7125   8143   9161
40  1256.6  2513  3770  5027  6283   7540   8796  10053  11310
50  1963.5  3928  5892  7856  9820  11784  13748  15712  17676

In [42]:
s = data.loc[10][5]
float(s)

393.0